<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fontawesome.com/icons" rel="stylesheet">
    <link rel='stylesheet' href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header">
        <div class="top-header">
            <a href="/">
                <img src="/img/logo-mercado-liebre.svg" class="logo">
            </a>
            <form class="search-bar">
                <div class="search-bar">
                    <input type="search" name="search" placeholder="Buscar productos" class="search">
                    <button type="submit" class="button-search"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <h5 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h5>
        </div>
        <div class="bottom-header">
            <a href="#" class="nav-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="nav-bar">
                <ul class="nav-bar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="login-bar">
                    <li><a href="/register">Crea tu cuenta</a></li>
                    <li><a href="/login">Ingresa</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form action="/login" method="post" class="login">
            <div>
                <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <section class="footer">
        <div class="texts-footer">
            <div class="emoji-footer"><i class="fas fa-credit-card"></i></div>
            <h3 class="title-footer">Paga con tarjeta o efectivo</h3>
            <p class="copy-footer">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="texts-footer">
            <div class="emoji-footer"><i class="fas fa-gift"></i></div>
            <h3 class="title-footer">Envio gratis desde $2.500</h3>
            <p class="copy-footer">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="texts-footer">
            <div class="emoji-footer"><i class="fas fa-user-shield"></i></div>
            <h3 class="title-footer">Seguridad, de principio a fin</h3>
            <p class="copy-footer">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
        </section>
            <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>                
    </footer>
</body>
</html>