header{background-color:#EAC926; border-color: black; padding: 20px 0 0;}

.centrado{text-align: center;}

body{background-color: gainsboro; font-family:'Roboto', sans-serif; }

section.publicacion{background-color: white; padding: 0 12px 8px;}

