header{background-color:#EAC926; padding: 0 12px 8px;}

.centrado{text-align: center;}

body{background-color: gainsboro; font-family:'Roboto', sans-serif; }

section.publicacion{background-color: white; padding: 0 12px 8px;}
